/* Authors: Valentina Guerrero and Aishwarya Varma  */
body{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    
}

.title {
    color: #045550;
    text-align: center;
    
}

.instructions {
   
    text-align: center;
}

.primarycolor{
    background-color: #ADD9D4;
}

.secondary-color{
    background-color: #C4C4C4;
}


.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.movie-div{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

button {
    height: 2.5rem;
    background-color: #045550;
    color: white;
    border-radius: 4px;
}


#content-div{
    width: 60%;
}

.space_between{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.extra_margin_left{
    margin-left: 3rem;
}

.extra_margin_right{
    margin-right: 10rem;
}


.center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.justify-center{
    display: flex;
    justify-content: center;

}

.vh60{
    height: 60vh;
}

.extra-padding{
    padding: 2rem;
}

.border{
    border-radius: 6px;
    border: none;
}

.search_title{
    font-weight: 500;
    font-size: 1.1rem;

}

.input{

    background-color: #C4C4C4;
    border: 0.1px solid;
    height: 2.3rem;

}

.form{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 1px;
    width: 70%;
    align-items: start;
}

.sub-form{
    display: flex;
    flex-direction: column;
}

.home-dropdown{
    visibility: hidden;
    background: white;

    height: 2.5rem;
    display: flex;
    align-items: center;
    display: none;

}


.show{
    visibility: visible;
    display: flex;
    
}

.show:hover{
    background-color: #C4C4C4;
}


.results-main-div{
    display: grid;
    grid-template-columns: 40% 60%;

}

.movie-card{
    display: grid;
    grid-template-columns: 20% 60% 20%;

}


.movie-image{

    width: 100%;
    background-image: url(https://static.thenounproject.com/png/34546-200.png) ;
}


.movie-card-margin{
    margin-left: 3rem;

}