<!-- Authors: Aishwarya Varma and Valentina Guerrero -->
<!DOCTYPE html>
    <html>
        <head>
            <title>Movies</title>
            <link rel="stylesheet" type="text/css" href="../static/webapp.css">
            <script type="text/javascript" src="../static/homepage.js"></script>
        </head>
        <body class="background">
            <div class="primarycolor space_between nav">
                <a href="home.html">
                    <div class="extra_margin_left">
                        <img class="logo" src="{{url_for('static', filename='logo.png')}}" />
                        <img class="page-title"src="{{url_for('static', filename='movie_time.png')}}" />
                    </div>
                </a>
                <a class="extra_margin_right advanced_search" href="advanced_search.html">
                    Advanced Search
                </a>
            </div>

            <div>
                <h1 class="error-header">ERROR 404</h1>

            </div>

        </body>
    </html>