<!-- Authors: Valentina Guerrero and Aishwarya Varma -->
<!DOCTYPE html>
    <html>
        <head>
            <title></title>
            <script type="text/javascript" src="../static/webapp.js"></script>
            <link rel="stylesheet" type="text/css" href="../static/webapp.css">
        </head>

        <body>
            
            <h1 class="title">Find any Movie</h1>
            <p class="instructions">For the purpose of this test, type in any number between 1 and 45,000 to get a movie and its information.</p>
            <div class='form'>
            <label>Movie ID:</label>
            <input  id="input" placeholder="Type in the movie ID">
            <button id="submit_button">Submit</button>
            </div>
            <div class="movie-div">
            <div id="content-div"></div>
            </div>

        </body>
    </html>