<!DOCTYPE html>
    <html>
        <head>
            <title>Movies</title>
            <link rel="stylesheet" type="text/css" href="../static/webapp.css">
            <script type="text/javascript" src="../static/homepage.js"></script>
        </head>
        <body>
            <div class="primarycolor space_between nav">
                <a href="other.html">
                    <div class="extra_margin_left">
                        <h1>LOGO</h1>
                    </div>
                </a>
                <a class="extra_margin_right">
                    Advanced Search
                </a>

            </div>

            <div class="center vh60">
                <div class="primarycolor border">
                    <div class="extra-padding">
                    <h4 class="search_title">
                        Search movies by title, genre, language and company
                    </h4>

                    <div class="center">
                        <form class="form-homepage">
                            <div class="sub-form">
                            <input class="input" id="input" placeholder="Search">
                            <a class="home-dropdown" id="all">Search All: <span id="all_text"> </span></a>
                            <a class="home-dropdown" id="title">Title: <span id="title_text"> </span></a>
                            <a class="home-dropdown" id="genre">Genre: <span id="genre_text"> </span></a>
                            <a class="home-dropdown" id="language">Language: <span id="language_text"> </span></a>
                            <a class="home-dropdown" id="company">Production: <span id="company_text"> </span></a>
                            <a class="home-dropdown" id="year">Release Year: <span id="year_text"> </span></a>
                        </div>
                            </input>
                        <button id="button">
                            Search
                        </button>
                    </form>
                    </div>
                </div>
                </div>
            </div>

        </body>
    </html>