<!DOCTYPE html>
    <html>
        <head>
            <title>Movies</title>
            <link rel="stylesheet" type="text/css" href="../static/webapp.css">
        </head>
        <body>
            <div class="primarycolor space_between">
                <div class="extra_margin_left">
                    <h1>LOGO</h1>
                </div>
                <a class="extra_margin_right">
                    Advanced Search
                </a>

            </div>

            <div>
                <div class="primarycolor">
                    <h3>
                        Search movies, titles, release year, production company
                    </h3>

                    <div>

                        <div>

                        </div>
                        <button>

                        </button>
                    </div>

                </div>
            </div>

        </body>
    </html>