/* Author: Aishwarya Varma
Date: 1/5/2021 */

h1, p {
    color: white;
    text-align: center;
}

.top-panel {
    float: top;
    background-color: rgba(255,0,0,0.5);
    width: 100%;
    height: 20vh;
}

.bottom-panels {
    margin-top: 10px;
}

.left-panel {
    float: left;
    background-color: rgba(0,255,0,0.5);;
    width: 30%;
    height: 65vh;
}

.right-panel {
    float: right;
    background-color:rgba(0,0,255,0.5);;
    width: 69%;
    margin-left: 10px;
    height: 65vh;
}